@import 'variables';
@import 'mediaqueries';

::placeholder {
	color: gray;
}

body {
	background-color: $bgWhite;
	width: 100%;
}

.my-nav {
	// display: none;
}

header {
	width: 50%;
	@include minw(640){
		width: 100%;
	}
}